<launch>

  <!-- "roslaunch ros_realtime_hubo display_hubo.launch model:=/home/fire/ROS_workspace/drc/wpi_drc_sim/descriptions/huboplus/huboplus.xml" -->

	<arg name="model" default="$(find hubo_rviz)/descriptions/huboplus/huboplus.xml" />
	<arg name="gui" default="False" />
	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>
	
	<node name="joint_state_publisher_feedforward" pkg="hubo_rviz" type="joint_state_publisher_feedforward.py" output="screen"></node>
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find hubo_rviz)/rviz_configs/hubo_model_display.vcg" />
</launch>
